@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-blue: #14183B;
  --brand-gold: #F4C430;
  --custom-gray: #CCCCCC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-blue: #8AAFDC;
  --color-brand-gold: #DEDEA2;
  --color-button-blue: #14183B;
  --color-button-white: #F7F7F1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist);
  overflow-x: hidden;
}

/* Mobile responsiveness improvements */
@media (max-width: 640px) {

  h1,
  .text-5xl,
  .text-4xl,
  .text-3xl {
    font-size: 1.6rem !important;
    line-height: 2.1rem !important;
  }

  h2,
  .text-3xl,
  .text-2xl {
    font-size: 1.25rem !important;
    line-height: 1.7rem !important;
  }

  h3,
  .text-xl,
  .text-lg {
    font-size: 1rem !important;
    line-height: 1.4rem !important;
  }

  p,
  .text-base,
  .text-sm,
  .text-gray-500 {
    font-size: 0.95rem !important;
    line-height: 1.3rem !important;
  }
}